{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">

        <a style="margin-top:10px" class="btn btn-primary" href="{% url "blogsections:user:usercreate"%}">Add User</a>
    <br>
    <br>
    {% if object_list %}

 <form method="post" action="">
        {% csrf_token %}
        <table class="table" >
              <thead>
                <tr>
                  <th scope="col"><h3>id</h3></th>
                  <th scope="col"><h3>username</h3></th>
                  <th scope="col"><h3>Update</h3></th>
                  <th scope="col"><h3>Delete</h3></th>
                </tr>
              </thead>
              <tbody>
              {% for user in object_list %}
              <tr>
                  <th scope="row">{{user.id}}</th>
                <td>{{user.username}}</td>
                <td><a href="{% url 'blogsections:user:userupdate' user.id %}"  class="btn btn-success" name="userupdate" >Update</a></td>

                        {% csrf_token %}
                  <td><a  href="{% url 'blogsections:user:userdelete' user.id %}" class="btn btn-danger" name="delete" >Delete</a></td>
              </tr>
                {% endfor %}

              </tbody>
        </table>
</form>
{% else%}
        <div class="alert alert-danger">
            User yok.
        </div>
</div>
{%endif%}
{% endblock %}

