{% extends 'base.html' %}

{% block content %}
<div class="col-md-auto" style="margin:5% 12%">
    0/5 Completed.
    <div class="progress" style="margin-bottom:20px">
      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
        <span class="sr-only">70% Complete</span>

      </div>


    </div>
    {% if object_list %}
        <table class="table" >
          <thead>
            <tr>
              <th scope="col"><h3>id</h3></th>
              <th scope="col"><h3>username</h3></th>
              <th scope="col"><h3>Update</h3></th>
              <th scope="col"><h3>Delete</h3></th>
            </tr>
          </thead>
          <tbody>
          <!--{% for user in object_list %}
          <tr>
              <th scope="row">{{user.id}}</th>
            <td>{{user.username}}</td>
            <td><a class="btn btn-success">Güncelle</a></td>
            <td><a  class="btn btn-danger">Sil</a></td>

          </tr>
            {% endfor %}-->

          </tbody>
        </table>

    {% else %}
        <div class="alert alert-danger">
            No tags.
        </div>
    {% endif %}
    <form method="post">
    </form>
</div>
{% endblock content %}
